language: swift

osx_image: xcode11.2
env:
  matrix:
    - TEST_SDK=iphonesimulator13.2 OS=13.2.2 NAME="iPhone 11"
#    - TEST_SDK=iphoneos13.2 OS=13.2.2 NAME="iPhone 11"

script:
  - set -o pipefail && xcodebuild test -enableCodeCoverage YES -project SwiftStaticLib.xcodeproj -scheme SwiftStaticLib -sdk $TEST_SDK -destination "platform=iOS Simulator,OS=$OS,name=$NAME" ONLY_ACTIVE_ARCH=YES

#after_success:
# public repo on Travis CI (public here mean public on Travis only, it not mention github repo public)
#- bash <(curl -s https://codecov.io/bash)
#- bash <(curl -s https://codecov.io/bash) -t {CODECOV_TOKEN} # for private need token

# Use slather
before_install: rvm use $RVM_RUBY_VERSION
install: bundle install --without=documentation
after_install: bundle config set path '../travis_bundle_dir'
after_success:
  - slather
  - bash <(curl -s https://codecov.io/bash) -f reports/cobertura.xml -X coveragepy -X gcov -X xcode
